* {
    box-sizing: border-box;
}

h1,
p {
    margin: 0px;
}

body {
    background-color: white;
}

/* Este es el contenedor General donde fijo la estructura de la rejilla o Grid */
.container {
    color: #666666;
    /*display: */
    /*Lo pongo en modo grid*/
    display: grid;
    font-family: "Lobster", cursive;
    /*grid-auto-flow: */
    /*Por defecto lo que no maquetemos lo pone por filas*/
    grid-auto-flow: row;
    /*grid-row-gap: */
    /*En función del tamaño de letra*/
    grid-row-gap: 1em;
    /*grid-template-columns:*/
    /*4 columnas en %: La primer columna más pequeña, tres siguientes iguales*/
    grid-template-columns: 10% repeat(3,30%);
    /*grid-template-rows:*/
    /*4 filas en px: primer y última iguales, más pequeñas; la segunda la más grande y la tercera mediana*/
    grid-template-rows: 100px 400px 300px 100px;
    margin: 20px auto;
    width: 90%;
}

/* Cabecera de la página */
header {
    border-bottom: 1px solid #666666;
    /*grid-column:*/
    /*Ponemos columna dónde empieza y columna dónde acaba*/
    grid-column: 1/5;
    /*grid-row: */
    /*Ponemos fila dónde empieza y fila dónde acaba*/
    grid-row: 1/2;
    padding: 1em;
    text-align: center;
}

/* Menú lateral */
nav {
    /*grid-column:*/
    /*Ponemos columna dónde empieza y columna dónde acaba*/
    grid-column: 1/2;
    /*grid-row: */
    /*Ponemos fila dónde empieza y fila dónde acaba*/
    grid-row: 2/5;
    padding: 1em;
}

nav div {
    margin-bottom: 20px;
}

/* Imagen grande */
main {
    border: 1px solid #aaaaaa;
    border-radius: 1em;
    /*grid-column:*/
    /*Ponemos columna dónde empieza y columna dónde acaba*/
    grid-column: 2/4;
    /*grid-row: */
    /*Ponemos fila dónde empieza y fila dónde acaba*/
    grid-row: 2/3;
    /*justify-self: */
    /*centrado*/
    justify-self: center;
    padding: 1em;
    text-align: center;
    width: 90%;
}

main img {
    border-radius: 1em;
    height: 70%;
    width: 80%;
}

/* Resto de imágenes. Colocadas por grid-auto-flow que por defecto es row */
article {
    border: 1px solid #aaaaaa;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    grid-auto-flow: row;
}

article img {
    border-radius: 1em;
    height: 60%;
    width: 100%;
}

article:nth-of-type(2),
article:nth-of-type(3),
article:nth-of-type(4) {
    /*justify-self: */
    /*Abajo*/
    justify-self: end;
    width: 90%;
}

/* Pie de la página */
footer {
    align-items: center;
    border-top: 1px solid #666666;
    display: flex;
    /*grid-column:*/
    /*Ponemos columna dónde empieza y columna dónde acaba*/
    grid-column: 1/5;
    /*grid-row: */
    /*Ponemos fila dónde empieza y fila dónde acaba*/
    grid-row: 4/5;
    /*justify-content: */
    /*Repartimos el espaciado entre elementos*/
    justify-content: space-between;
    padding: 2em;
}

footer img {
    width: 50px;
}