div{
    background-color: lightblue;
    border: 5px solid black;
    height: 200px;
    width: 600px;
    margin: 20px auto;
    padding: 30px;
}

.border{
    box-sizing: border-box;
}

.padding{
    box-sizing: content-box;
}