.encabezado{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #7c0000;
    height: 12vh;
    width: 100%;
    z-index: 9;

}

.encabezado>h1{
    font-style: italic;
    font-size: calc(1em + 4vw);
    color: white;
    margin: 10px 0 10px 0;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    align-content: center;
}

.encabezado>p{
    position: absolute;
    right: 10px;
    top: 19%;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    padding: 0px 6px 0px 6px;
    margin: 0px;
    font-weight: bold;
}


/* Carrito */
.carrito{
    margin: 5px 25px 5px 8px;
    padding: 0px;
    width: auto;
    height: 80%;
    display: flex;
    align-self: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.carrito>img{
    height: 100%;
}

.carrito>img:hover{
    transform: scale(1.1);
}

.carrito>p{
    position: absolute;
    right: 18px;
    top: 19%;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    padding: 0px 6px 0px 6px;
    margin: 0px;
    font-weight: bold;
    cursor: pointer;
}

.carrito>p:hover{
    transform: scale(1.1);
}

.contenedor{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 50px;
    background-color: #4b0000;
    padding: 13vh 40px 10px 40px;
}

.oscurecer{
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 0px;
}

.oscurecer-todo{
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0px;
}

.compra-finalizada.visible:nth{
    background-color: white;
    position: fixed;
    z-index: 20;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 35%;
    border-radius: 20px;
    align-content: center;
}

.compra-finalizada.visible>p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}