main{
    background-color: blueviolet;
    width: 20%;
    height: 30px;
    text-align: center;
    margin: auto;
}

.bloques{
    background-color: brown;
    width: 40%;
    margin: auto;
    text-align: center;
}

.bloques img{
    margin: auto;
    display: block;
}

.lineas{
    background-color: darkseagreen;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    height: 130px;
}

.lineas p{
    vertical-align: middle;
    border: 1px solid black;
    background-color: gold;
    width: 15%;
    display: inline-block;
}