body{
    background-color: grey;
}
div  {
    border-top: 2px solid green;
    border-bottom:3px dashed orange;
    margin: 30px;
}
#first {
    padding-right: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: red; width: 30%;
}
#second {
    padding: 4px;
    background-color: blue; width: 205px;
}

p {
    font-size: small;
    text-align: center;
}